.button {
  font-family: 'Recursive', sans-serif;
  font-size: 13px;
  background-color: white;
  border-radius: 2px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #efefef;
}
